apache-airflow-backport-providers-amazon==2021.3.3
apache-airflow-backport-providers-docker==2021.3.3
apache-airflow-backport-providers-postgres==2021.3.17
apache-airflow-backport-providers-redis==2021.3.17
apache-airflow-backport-providers-slack==2021.3.3
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-sqlite==2.0.0
requests==2.23.0