apache-airflow-backport-providers-amazon==2021.3.3
apache-airflow-backport-providers-docker==2021.3.3
apache-airflow-backport-providers-postgres==2021.3.17
apache-airflow-backport-providers-redis==2021.3.17
apache-airflow-backport-providers-slack==2021.3.3
